{% extends 'base.html' %} {% block content %}
<main>
  <a href="{% url 'todos_list' %}">All Lists</a>
  <a href="{% url 'todos_edit' todolist.id %}">Edit List</a>
  <a href="{% url 'todos_delete' todolist.id %}">Delete List</a>
  <h1>{{ todolist.name }}</h1>
  <h2>Tasks</h2>
  <table>
    <thead>
      <tr>
        <th>Task</th>
        <th>Due Date</th>
      </tr>
    </thead>
    <tbody>
      {% for item in todolist.items.all %}
      <tr>
        <td>
          <a href="{% url 'item_edit' item.id %}">{{ item.task }}</a>
        </td>
        <td>{{ item.due_date|date:"M d, Y"}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock content %}
