{% extends 'base.html' %} {% block content %}
<main>
  <h1>My Lists</h1>
  <a href="{% url 'todos_create' %}">Create New List</a>
  <a href="{% url 'item_create' %}">New Task</a>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Number of Tasks</th>
      </tr>
    </thead>
    <tbody>
      {% for list in todolist_list %}
      <tr>
        <td>
          <a href="{% url 'todos_detail' list.id %}">{{ list.name }}</a>
        </td>
        <td>{{ list.items.all|length }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>

{% endblock content %}
